<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Caso1-Demoblaze-Suite" verbose="1" parallel="none">
    <test name="Demoblaze Tests">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>
